    <%- include('../../shared/includes/head',{pageTitle: 'Signup'}) %> 
    <link rel="stylesheet" href="/styles/forms.css">
    <link rel="stylesheet" href="/styles/auth.css"> <!-- most specific css file-->
</head>

<body>
    <%- include('../../shared/includes/header') %> 
    <main>
        <h1>Create new account</h1>
        <form action="/signup" method="POST">
            <input type="hidden" name="_csrf" value="<%= locals.csrfToken %>">
            <p>
                <label for="email">Email</label>
                <input type="email" name="email" id="email" required>
            </p>
            <p>
                <label for="confirm-email">Comfirm Email</label>
                <input type="email" name="confirm-email" id="confirm-email" required>
            </p>
            <p>
                <label for="password">Password</label>
                <input type="password" name="password" id="password" minlength="6" required>
            </p>
            <hr>
            <p>
                <label for="fullname">Full name</label>
                <input type="text" name="fullname" id="fullname" required>
            </p>
            <p>
                <label for="street">Street</label>
                <input type="text" name="street" id="street" required>
            </p>
            <p>
                <label for="postalcode">Postal code</label>
                <input type="text" name="postalcode" minlength="5" id="postalcode" required>
            </p>
            <p>
                <label for="city">City</label>
                <input type="text" name="city" id="city" required>
            </p>
            <button class="btn">Create account</button>
            <p id="switch-form"><a href="/login">Login instead</a></p>

        </form>
    </main>

<%- include('../../shared/includes/footer') %> 